:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --alter-text-color: #ffff;
  --parag-text-color: #757575;
  --hov-color: #2196f3;
  --dark-backgr-color: #2f303a;
  --button-backgr-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--parag-text-color);
}

h1,
h2,
h3,
h4,
p{
  margin-top: 0;
  margin-bottom: 0;
}
.container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;


  /* убрать */
  outline: 2px solid tomato;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  }
.page-header{
  display: flex;
align-items: center;
justify-content: flex-start;
padding-top: 25px;
padding-bottom: 25px;
justify-content: center;}
  

.site-nav {
display: flex;
align-items: center;
margin-right: auto;
}
 .list-nav{
  display: inline-flex;
}

.page-header{
  justify-content: flex-start
}


.contact-item{
  margin-right: 50px;
}
.contact-item:last-child{
  margin-right: 0
}

.menu-item{
  margin-right: 50px;
}
.menu-item:last-child {
  margin-right: 0;
}
.logo{
  margin-right: 93px;
}

.link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}
.link-address,
.link-accent{
padding-top: 10px;
padding-bottom: 10px;
}

.link-accent {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.link-accent:hover,
.link-accent:focus {
  color: var(--hov-color);
}
.link-address {
  color: var(--parag-text-color);
}

.list {
  list-style: none;
  
}

/* удалить потом */
.header{
 outline: 2px solid blue;
}

.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.logo-item {
  color: #000000;
}


.button-index {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 40px;
  border-radius: 4px;
cursor: pointer;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 32px;
padding-left: 32px;



  color: var(--alter-text-color);
  background-color: var(--hov-color);
}
.main-title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alter-text-color);
}

.title-text {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

.sub-title-text {
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--main-text-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.section-hero {
  background-color: var(--dark-backgr-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 200px;
text-align: center;


 background-color: var(--dark-backgr-color)}



.footer-section {
  background-color: var(--dark-backgr-color);
}
.team-name-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
}
.team-position-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-text-color);
  background-color: var(--button-backgr-color);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--alter-text-color);
  background-color: var(--hov-color);
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
}

.logo-item-white {
  color: #ffff;
}

.address-in-footer {
  color: var(--alter-text-color);
}

.address-in-footer:hover,
.address-in-footer:focus {
  color: var(--hov-color);
}
.address-in-footer-tr {
  color: rgba(255, 255, 255, 0.6);
}
.address-in-footer-tr:hover,
.address-in-footer-tr:focus {
  color: var(--hov-color);
